h1{
    font-family: Cooper;
    font-style: italic;
    font-size: 200%;
    font-weight: bold;
    color: #23afc9;
    background-color: #99012f;
    }
    h2{
    text-decoration: line-through;
    text-transform: uppercase;
    text-align: center;
    }
    p{
    letter-spacing: 10px;
    line-height: 10;
    word-spacing: 20px;
    }